$main-color: white;

body {
  width: 100%;
  position: absolute;
}

.container{
  height: 100vh;
}

.background-img{
  width: 100%;
  position: absolute;
}


// header{
//   background: rgba(255,255,255,0.7);
//   width: 100%;
//   text-align: center;
//   padding: 10px 0;
//   position: fixed;
//   // overflow: hidden;
//   // top: 0;
//   // left: 0;
//   // z-index: 100;
//   height: 80px;
// }

.head-inner{
  background: rgba(255,255,255,0.7);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  // overflow: hidden;
  // top: 0;
  // left: 0;
  // z-index: 100;
  height: 80px;
  visibility: hidden;
}



// 헤더 쇼핑몰 이름 xxsank 부분
.middle-head{
  position: fixed;
  left: 50%;
  margin-left: -120px;
  margin-top: -10px;
  font-size: 3rem;
  a{
    color: inherit;
  }
}

// 메뉴 버튼 로그인했을시 버튼 숨기기 
.menu{
  &__login-btn, &__signup-btn{
    .login--authed & {
      display: none;
    }
  }
  &__logout-btn{
    display: none;
    .login--authed & {
      display: inline-block;
    }
  }
}


// 메뉴,루트 잡는 컨테이너
.menu-root__container{
  width: 100%;
  height: 100%;
  margin-top: 85px;
}

//왼쪽 상목록 메뉴
.menu{
  position: fixed;
  float: left;
  margin-left: 80px;
  &-label, &-list a{
    color:white;
  }
  &-list a{
    width: min-content;
  }
}

//content 영역 렌더링 부분
.root{
  float: left;
  width: 100%;
  margin-left: 200px;
}

//float 속성 클리어 
.menu-root__container ::after{
  content: '';
  display: table;
  clear: both;
}

// 썸네일 이미지+디스크립션
.product-list__thumbnail{
  background-color: white;
  display: inline-block;
  margin: 30px;
}

// 썸네일 디스크립션
.product-list__description{
  text-align: center;
}

// 썸네일 이미지
.thumbnail-img{
  width: 280px;
  height: 400px;
}

//화면 반전
.reverse{
  // color: black;
  // height: 0;

  .head-inner {
    visibility: visible;
  }
  
  .container  {
    display: none;
  }

  // .background-img{
  //   height: 0;
  // }

  .menu-label, .menu-list a{
    color:black;
  }
}

//회원가입, 로그임 폼 화면
.formbox{
  // border: solid 1px;
  width: 300px;
  position:absolute;
  top: 250px;
  left: 40.3%;
  
  .control{
    margin-top: 10px;
  }
}

// 상품 상세정보 디자인
.body-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}

.message-body{
  font-size: 12px
}

// 상품 상세정보 박스 디자인
.product-item__box{
  width: 1000px;
}

// 장바구니 페이지
.table-head{
  .th--img, .th--price, .th--quantity, .th--total{
    text-align: center;
    width: 150px;
  }
  .th--info{
    text-align: center;    
    width: 400px;
  }

}

// 장바구니 디자인
.td{
  &--info, &--price, &--quantity, &--total,&--checkbox{
    line-height: 140px;
    text-align: center;
  }
}

// 장바구니 디자인
.order-box{
  width: 1000px;
}

// 장바구니 디자인
.cart-body-img{
  margin-top: 10px;
}